body {
  background-image: url(Wiki-background.jpg);
  color: #000000;
  font-family: Helvetica;
  font-size: 100%;
  letter-spacing: 2px;
  word-spacing: 4px;
  background-attachment: fixed;
}
@font-face {
  font-family: Helvetica;
  src: url(../css/HelveticaNeueCyr-Light.ttf);
}
a {
  text-decoration: none;
  background-color: #5e008c;
  color: #ffffff;
  border: solid 1px #312091;
  border-radius: 5px;
}
a:hover {
  background-color: #1414a6;
  transition: 700ms;
}
footer {
  float: right;
}
#content {
  margin: auto;
  width: 1434px;
}
#logo {
  margin: auto;
  width: 210px;
}
#info_main {
  text-align: center;
  width: 1434px;
}
#iowa, #info, #sara {
  float: left;
}
#info {
  width: 450px;
}
video {
  width: 640px;
  height: 360px;
}
#replay {
  width: 1000px;
  float: left;
}
#replay_t {
  float: right;
}
